.aside {
    width: 100%;
    padding-right: 0px;
}

.inner {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section h3 {
    text-align: right;
    width: 100%;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.list {
    width: 100%;
    margin-bottom: 20px;
}

.item {
    padding: 15px;
    font-size: 1.1rem;
    text-align: left;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.item:hover,
.item-active,
.item:focus {
    background-color: rgba(0,0,0,.03);
}

.item-active {
    padding-left: 40px;
}

@media (min-width: 576px) {
    .aside {
        padding-right: 40px;
    }
}

@media (min-width: 768px) {
    .item {
        text-align: right;
        padding: 15px 40px 15px 15px;
    }
    .item-active {
        padding-right: 20px;
    }
}