.aside {
    width: 100%;
    padding-right: 40px;
}

.asideInner {
    display: flex;
    flex-direction: column;
}

.asideSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.asideSection h3 {
    text-align: right;
    width: 100%;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.asideList {
    width: 100%;
    margin-bottom: 20px;
}

.asideListItem {
    padding: 15px;
    font-size: 1.1rem;
    text-align: left;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.asideListItem:hover,
.asideListItemActive,
.asideListItem:focus {
    background-color: rgba(0,0,0,.03);
}

.asideListItemActive {
    padding-left: 40px;
}

@media (min-width: 768px) {
    .asideListItem {
        text-align: right;
        padding: 15px 40px 15px 15px;
    }
    .asideListItemActive {
        padding-right: 20px;
    }
}