.headerOuterContainer {
    height: 60px;
    width: 100%;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: deepskyblue;
}

.wrapper {
    composes: wrapper from '../main.css';
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.headerHamburgerContainer {
    display: none;
}

.headerNavContainer {
    flex-grow: 1;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    display: flex;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-left: auto;
}

.headerNavItem {
    display: flex;
    align-items: center;
    color: #333333;
    text-decoration: none;
    margin-left: 20px;
    padding-left: 10px;
}

.headerNavItem:not(:last-child) {
    padding-right: 10px;
}

.headerGitContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333333;
}

.headerGitContainer img {
    margin-right: 20px;
    height: 40px;
    width: 40px;
}

@media (max-width: 650px) {
    .headerHamburgerContainer {
        display: block;
    }

    .headerNavContainer {
        position: fixed;
        left: 0;
        right: 0;
        top: 100%;
        bottom: 0;
        background-color: rgba(0,0,0, .7);
        margin-left: 0;
        max-width: none;
        height: auto;
        transition: all 0.2s ease-in-out;
    }

    .headerNav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0;
        padding-top: 20px;
    }

    .headerNavItem {
        font-size: 2rem;
        margin-bottom: 10px;
        padding: 10px 20px;
        width: 100%;
        flex-shrink: 0;
        color: #ffffff;
    }

    .headerNavActive .headerNavContainer {
        top: 60px;
    }
}
