.noteHeading {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.noteContainer {
    padding: 10px 20px;
    margin-top: 30px;
    color: #333333;
    background-color: #f8f8f8;
    border-left: 5px deepskyblue solid;
    line-height: 1.7
}

.noteContainer .noteAuthor {
    text-align: right;
    margin: 0;
    padding: 0;
}