.noteContainer {
    padding: 20px;
    margin: 15px 0;
    color: #333333;
    background-color: #f8f8f8;
    border-left: 5px deepskyblue solid;
}

.noteContainer .noteText {
}

.noteContainer .noteAuthor {
    text-align: right;
    margin: 0;
    padding: 0;
}