.noteContainer {
    padding: 20px;
    margin: 15px 0;
    color: rgba(0,0,0,.5);
    background-color: #f8f8f8;
    border-left: 5px deepskyblue solid;

}

.noteText {
}

.noteAuthor {
    text-align: right;
}