.commonSection {
    line-height: 1.7;
}

.commonSection p {
    font-size: 1rem;
    margin-top: 30px;
}

.h1 {
    font-size: 3.3rem;
}

.h2 {
    font-size: 2rem;
    border-top: 1px solid #ececec;
    margin-top: 40px;
    padding-top: 40px;
    line-height: 1.2;
}

.h3 {
    font-size: 1.4rem;
    margin-top: 20px;
}

.btn-container {
    margin-top: 20px;
}

.codeContainer {
    background-color: #f8f8f8;
    border: 1px transparent solid;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.codeLine {
    display: block;
    line-height: 1.3;
}

.code_levels {
    padding-left: 20px;
}

.highlight {
    background: rgba(255,229,100,0.3);
    color: #333333;
}

.comment {
    color: rgba(149,165,166,.8);
}
