.mainOuter {

}

.wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}
.mainInner {
    line-height: 1.7;
}

.commonP {
    font-size: 1rem;
    margin-top: 30px;
}

.commonH1 {

}

.commonH2 {
    font-size: 2rem;
    border-top: 1px solid #ececec;
    margin-top: 44px;
    padding-top: 40px;
    line-height: 1.2;
}

.commonH3 {
    font-size: 1.4rem;
    margin-top: 20px;
}

.commonButton {
    composes: light from '../styles/main.css';
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #333333;
    margin-top: 20px;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color:#ffffff;
    text-align:center;
    transition: all 0.2s;
    background-color:#FFFFFF;
    cursor: pointer;
}

.commonButton:hover{
    color:#000000;
    background-color: transparent;
}

.codeContainer {
    background-color: #f8f8f8;
    margin-top: 20px;
}

.codeLine {
    display: block;
    line-height: 1.3;
}

.code_levels {
    padding-left: 20px;
}
