.image {
    width: 100%;
    margin-top: 40px;
    background: no-repeat center/cover;

    /* optional transition style */
    transition: all ease-in-out 0.2s;
    filter: blur(10px);
}

.image.loaded {
    filter: blur(0);
}

.image_mountains {
    height: 300px;
    background-image: url("../images/lazy-demo/mountains-placeholder.jpg");
}

.image_highway {
    height: 300px;
    background-image: url("../images/lazy-demo/highway-placeholder.jpg");
}



.image_mountains.loaded {
    background-image: url("../images/lazy-demo/mountains.jpg");
}

.image_highway.loaded {
    background-image: url("../images/lazy-demo/highway.jpg");
}
