.docs {

}

.wrapper {
    composes: wrapper from './main.css';
}

.demosContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.demosAside {
    width: 30%;
    max-width: 200px;
}

.demosOutput {
    flex-basis: 70%;
    max-width: 70%;
    flex-grow: 1;
    padding-left: 50px;
}