<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="category" content="<%= htmlWebpackPlugin.options.category %>"/>
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>"/>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonical %>"/>
</head>
<body>

</body>
</html>