.button {
    composes: btn from './btn.css';
    transition: background-color 0.21s, color 0.21s;

}

.button:hover,
.button:focus {
    background-color: #000000;
    color:deepskyblue;
    outline: none;
}