.starBtn-container {
    height: 70px;
    display: flex;
    align-items: center;
}

.starBtn {
    composes: btn from './btn.css';
    transition: color 0.31s,
                box-shadow 0.31s,
                padding 0.31s;
    animation: move-space-bg 20s infinite normal linear forwards;
    background: #333333 url('../../../images/stars.png') 50% 0/cover;
    color: deepskyblue;
}

.starBtn:hover,
.starBtn:focus {
    padding: 20px 1.2em;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    outline: none;
}

@keyframes move-space-bg {
    from {
        background-position-y: 0%;
    }

    to {
        background-position-y: 100%;
    }
}